@font-face {font-family: "SuzukiPROHeadline";
  src: url("./SuzukiPROHeadline.ttf") format("truetype");
}

$skyblue: #009bde;
$bg-darkblue: #004059;

html {
  font-size: 62.5%;
}

body {
  font-family: "Arial"
}

.image {
  .is-64x64 {
    width: 6.4rem;
    height: 6.4rem;
  }
}

.is-spaced {
  letter-spacing: .2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.section.small-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.no-padding-top {
  padding-top: 0 !important;
}

.color-skyblue {
  color: $skyblue;
}

.bg-skyblue {
  background-color: $skyblue;
}
.bg-darkblue {
  background-color: $bg-darkblue;
}

@media screen and (min-width: 400px) {
  .fix-400 {
    width: 400px;
    margin: auto;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}

/* remove input[type=number] spin buttons */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; 
}


input[type=number] {
  -moz-appearance:textfield;
}

/* remove outline on chrome */
input:focus,
button:focus {
  outline: none;
}

.pagination-link--active {
  font-weight: bold;
  color: darken(#363636, 50%);
  border: 2px solid darken($color: #dbdbdb, $amount: 50%);
}
